@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-image: url(images/pag.jpg);
    background-repeat: no-repeat;
    color: #000;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
   /* background-color: #f3f3f2;*/
   font-size: 15px;
   text-align: center;  
}
.ma{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom:130px ;
    color: antiquewhite;
  
}
.nav__links{
    list-style: none;

}

.nav__links li{
    display: inline-block;
    padding: 10px 25px;
}

.nav__links li a:hover{

    
    border-bottom:rgb(206, 142, 4) solid;
        
}

li, a { 
    text-decoration: none;
    color: #000;
}

.nav__links__bottom {
    list-style: none;
    padding-top: 70px;

}

.nav__links__bottom li {
    display: inline-block;
    padding: 0px 10px;
}



.menu__border{
   min-width: 90px;
   width: 70%;
   margin-right: 4px;
   text-align: center;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 70%;
    display: block;
    position: relative;
    top: 15px;
    left: 10px;
}
.loo{
    cursor: pointer;
    position: relative;
    top: 24px;
    left: 5px;
}
.jul{
  background-color: blueviolet;
  padding: 5px;
  position: absolute;
  left: 40%;
  top: 117%;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
}
.container{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}

.dil{
    padding-right: 100px;
    color: rgba(240, 128, 128, 0);
}
.pain{
    padding: 0px 0px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 5px
    solid antiquewhite;

}
.mains{
    background-color: #ac4a8e;
    padding: 5px;
    width: 150px;
    margin: 0px 25px;
    z-index: 3;
    position: relative;

}
.tire{
    padding:0px 0px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 5px
    solid antiquewhite;
}
.fils{
    background-color: #f577ea;
    padding: 5px;
    width: 150px;
    margin: auto;
    z-index: 3;
    position: relative;
}
.poll{
    padding:0px 0px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 5px
    solid antiquewhite;
}
.fille{
    background-color: #58fd52;
    padding: 5px;
    width: 150px;
    margin: auto;
    z-index: 3;
    position: relative;
}
.tar{
    left: 70px;
}
.ami{
    padding:0px 0px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 5px
    solid antiquewhite;
}
.frere{
    background-color: #046df7;
    padding: 5px;
    width: 150px;
    margin: auto;
    z-index: 3;
    position: relative;
}
.maa{
    padding:0px 0px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 5px
    solid antiquewhite;
}
.rat{
    background-color: #af369f;
    padding: 5px;
    width: 150px;
    margin: auto;
    z-index: 3;
    position: relative;
}
.tan{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom:130px ;
    color: antiquewhite;
  
}


